* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /*medida do tamanho da caixa, para que seja medida atravez da borda*/
}

:root {
  --text-color: #713630;
  --bg-color: #ebe5d5;
  --bg-url: url(./assets/bg-mobile-light.jpg);
  --stroke-color: #713630;
  --surface-color: rgba(0, 0, 0, 0.05);
  --surface-color-hover: rgba(0, 0, 0, 0.02);
  --highlight-color: rgba(55, 0, 255, 0.1);
}

body {
  background: var(--bg-color);

  /*
  background-image: url(./assets/bg-mobile.jpg);

  background-repeat: no-repeat; faz com que a imagem nao repita

  background-position: top center; posiçao (x y) vertical horizontal

  background-size: cover;
  coloca a imagem na tela interia, ajustando para o tamanho da tela
  */

  /*
  background: color image repeat position/size ...;
  */
}

body * {
  font-family: "Inter", sans-serif;
  color: var(--text-color);
}

#container {
  width: 100%;
  max-width: 588px;
  margin: auto;
  padding: 0 24px; /*em cima e em baixo 0px e nas laterais 24px*/
  margin-top: 10px; /* ou  padding-top: 56px;nesse caso!*/


  /*EXEMPLOS DE COMO FUNCIONA O MARGIN

  SEQUENCIA!!!

  margin: auto;          margin: 1px 2px;     margin: 1px 2px 3px ;   margin: 1px 2px 3px 4PX; 

  Como se fosse:

  margin-top: auto;      margin-top: 1px;      margin-top: 1px;         margin-top: 1px;
  margin-right: auto;    margin-right: 2px;    margin-right: 2px;       margin-right: 2px;
  margin-bottom: auto;   margin-bottom: 1px;   margin-bottom: 3px;       margin-bottom: 3px;
  margin-left: auto;     margin-left: 2px;     margin-left: 2px;        margin-left: 4px;

  */
}

#sobreContainer {
  width: 100%;
  max-width: 588px;
  margin: auto;
  padding: 0 24px; /*em cima e em baixo 0px e nas laterais 24px*/
  margin-top: 10px; /* ou  padding-top: 56px;nesse caso!*/


}

/*profile*/
#profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#profile .LogoBolo {
  width: 170px;
}

#profile .FotoCarol {
  width: 170px;
  border-radius: 100%;
  border: 3px solid #713630;
  margin-bottom: 5px;
}

#profile .h1profile h1 {
  font-family: "Hello Paris Serif Regular";
  font-weight: 800;
  font-size: 3rem;
  color: #9D4633;
  background: linear-gradient(to right, #713630, #702d26); /* Gradiente da esquerda para a direita */
  -webkit-background-clip: text; /* Recorta o gradiente ao texto */
  -webkit-text-fill-color: transparent;
  margin-block-start: -0.30em;
}

#profile p {
  Font-family: "PT Sans", sans-serif;
  font-weight: 500;
  font-style: normal;
  margin-bottom: 25px;
  color: #9D4633;
  background: linear-gradient(to right, #713630, #702d26); /* Gradiente da esquerda para a direita */
  -webkit-background-clip: text; /* Recorta o gradiente ao texto */
  -webkit-text-fill-color: transparent;
}

.pStyles{
  display: flex;
  justify-content: center;
  width: 100%;
}

/* links */
ul {
  list-style: none; /*tira op . da lista */

  display: flex; /*organisa de uma forma flexivel*/
  flex-direction: column; /*Deixa os elementos em coluna*/
  gap: 16px; /*expaço entre os elementos, que nesse caso são as listas*/

  padding: 24px 0;
}

ul li a {
  display: flex;
  justify-content: center; /*Pegou o conteudo e coloca no meio. so funciona no flex, no display: block; é text-align: center;*/

  padding: 16px 24px;

  /*
  (red, green, blue, alpha)'transparencia'
   255 cor mais forte (branco)0 cor mais fraca(preto)
  */
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  border-radius: 8px;

  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(
    4px
  ); /*-webkit- em alguns browsers precisam, como saber se precisa? pesquisa no site caniuse.com*/

  text-decoration: none;
  font-weight: 500;

  transition: background 0.2s; /*transiçao da cor do back ground, ligado com o hover*/
}

/*pseudo-selector, quando o mouse passar por cima*/
ul li a:hover {
  background: var(--surface-color-hover);
  border: 1.5px solid var(--text-color);
}

/*social links*/
#social-links {
  display: flex;
  justify-content: center;
  font-size: 24px;
}

#social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  /*tudo isso para deixar o icone no centro */
  padding: 16px;

  transition: background 0.2s;
  border-radius: 50%;
}

#social-links a:hover {
  background-color: var(--highlight-color);
  padding: 16px;
}

footer {
  padding: 24px 0;
  text-align: center;
  font-size: 14px;

}

.hide{
  display: none;
}
/* Media queries */
@media (min-width: 500px) {
  .pStyles{
  display: flex;
  justify-content: center;
  width: 100%;
  }
}
@media (min-width: 700px) {
  :root {
    --bg-url: url(./assets/bg-desktop-light.jpg);
  }
}

.animar-entrada {
      opacity: 0;
      transform: translateY(-20px);
      animation: descerEFicarVisivel 1s ease-out forwards;

    }

    @keyframes descerEFicarVisivel {
      to {
        opacity: 1;
        transform: translateY(0);
      }
    }

/* animation */
@keyframes slide-in {
  from {
    left: 0;
  }
  to {
    left: 50%;
  }
}

@keyframes slide-back {
  from {
    left: 50%;
  }
  to {
    left: 0;
  }
}
